.container {
    color: #303030;
    width: 300px;
    padding: 1rem;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFFDD;
    justify-self: center;
    
    @media (max-width: 768px) {
        width: calc(95% - 2rem);
        min-height: calc(200px - 2rem);
    }
}

.content {
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    @media (max-width: 768px) {
        flex-direction: row;
        justify-content: flex-start;
        height: 100%;
    }
}

.right {
    gap: 0.5rem;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.title {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    
    @media (max-width: 768px) {
        font-size: 1.5rem;
        text-align: left;
    }
}

.image {
    width: 250px;
    height: 250px;
    align-self: center;
    border-radius: 1rem;
    
    @media (max-width: 768px) {
        width: 168px;
        height: 168px;
        min-width: 168px;
    }
}

.description {
    width: 100%;
    margin: 0;
    font-size: 1rem;
}

.tagsContainer {
    gap: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.tag {
    color: #FCF6E1;
    height: 1rem;
    display: flex;
    padding: 0.125rem 0.4rem;
    font-size: 0.625rem;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: center;
    background-color: #303030;
}

.seeMore {
    width: 8rem;
    height: 2rem;
    border: 0.125rem solid #303030;
    margin-top: 1rem;
    box-shadow: 0 0.3rem 0 0 #30303088;
    margin-bottom: 1rem;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    
    @media (max-width: 768px) {
        margin: auto 0 0;
    }
    
    &:hover {
        transform: translateY(1px);
        box-shadow: 0 0.2rem 0 0 #30303088;
    }
}

.seeMoreText {
    font-weight: 800;
}