.container {
    display: inline-block;
    position: relative;
}

.ghost {
    visibility: hidden;
}

.text {
    top: 0;
    left: 0;
    position: absolute;
    white-space: nowrap;
    
    @media (max-width: 768px) {
        width: 100%;
        text-align: center;
    }
}

.cursor {
    font: inherit;
    position: absolute;
    margin-left: 0.1ch;
}

.blink {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}