.header {
    top: 0;
    z-index: 999;
    position: sticky;
    background-color: rgba(1, 53, 109, 0.9);
    border-bottom-style: solid;
    border-bottom-width: 0.5rem;
    border-bottom-color: rgba(255, 136, 17, 0.75);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.navBar {
    color: white;
    width: 100%;
    height: 5rem;
    backdrop-filter: blur(1rem);
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.navLink {
    color: inherit;
    text-decoration: none;
}

.name {
    font-size: 3rem;
    font-weight: 800;
    
    margin-left: 2rem;
}

.notName {
    display: flex;
    align-items: center;
    flex-direction: row;
    
    margin-right: 2rem;
}

.otherLinks {
    font-size: 1.25rem;
    font-weight: 800;
    margin-left: 2rem;
}
