$navbar-height: 72px;

// Breakpoints
$mobile-screen: 480px;
$tablet-screen: 768px;
$laptop-screen: 1279px;
$desktop-screen: 1280px;


// Colours
$primary-colour: rgb(79, 93, 47);
$primary-colour-75: rgb(122, 134, 97);
$primary-colour-50: rgb(166, 173, 151);
$primary-colour-25: rgb(212, 214, 202);

$secondary-colour: rgb(10, 34, 57);
$secondary-colour-75: rgb(72, 90, 106);
$secondary-colour-50: rgb(134, 145, 157);
$secondary-colour-25: rgb(195, 200, 203);

$tertiary-colour: rgb(50, 22, 31);
$tertiary-colour-75: rgb(103, 82, 88);
$tertiary-colour-50: rgb(152, 139, 143);
$tertiary-colour-25: rgb(205, 197, 199);