@import '../_variables.scss';

.twoColumn {
    width: 100dvw;
    height: 100%;
    
    background-size: cover;
    background-image: url("./pixel-forest.png");
    background-position: center;
    
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
    color: white;
    
    overflow-y: scroll;
    scrollbar-width: none;
}

// Left Column

.personalDetails {
    width: 350px;
    
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.topHalf {
    gap: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headshot {
    border-radius: 75% 75% 0 0;
}

.name {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    
    padding: 0.5rem;
    margin-top: -4.2rem;
    border-radius: 1rem;
    
    background-color: darkolivegreen;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;
    
    h1 {
        font-size: 1.7rem;
        font-weight: normal;;
    }
}

.aboutMe {
    width: 100%;
    min-width: 250px;
    box-sizing: border-box;
    
    padding: 0.75rem;
    border-radius: 1rem;
    
    background-color: darkslategray;
    
    text-align: left;
    
    h2 {
        margin-bottom: 0.25rem;
        
        font-size: 1rem;
    }
    
    h2:not(:first-child) {
        margin-top: 0.75rem;
    }
    
    p {
        opacity: 75%;
        font-size: 0.875rem;
    }
}

.aboutRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// Right Column

.bentoBox {
    width: 60%;
    height: 90%;
    
    display: grid;
    grid-gap: 1.5%;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    
    > div {
        padding: 0.75rem;
        border-radius: 1rem;
    }
    
    h2 {
        text-align: center;
        font-size: 1.25rem;
    }
}

.tl {
    grid-row: span 6;
    grid-column: span 5;
    
    background-color: mediumseagreen; // darkseagreen;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.tr {
    grid-row: span 6;
    grid-column: span 5;
    
    background-color: cadetblue;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.bl {
    grid-row: span 4;
    grid-column: span 6;
    
    background-color: lightseagreen;
}

.br {
    grid-row: span 4;
    grid-column: span 4;
    
    background-color: seagreen;

    gap: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    text-align: center;
}

.linksContainer {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}